@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body {
    margin: 0;
}



/* Header Navbar Styles */

.header {
    max-width: 1440px;
    margin: 0 auto;
}
.brand {
    font-weight: 700;
    font-size: 3rem;
    padding-left: 20px;
}
.navbar {
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    list-style: none;
    margin-right: 1.8rem;
}
.nav-link {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
}


/* Header Banner Styles */

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-description {
    color: #727272;
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 32px;
}
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-image {
    width: 100%;
    margin-bottom: 50px;
    border: .5px solid none;
    border-radius: 30px;
}

/* Main Section-1 Styles */
 
.main-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 85px auto;
    padding: 0 100px;
}
.team-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-content-container {
    padding: 0 70px
}

.main-img {
    /* width: 100%; */
    border: 1px solid black;
    border-radius: 8px;
}


.quick-list {
    font-size: 3rem;
    font-weight: 500;
    color: #727272;
}

.of-our {
    font-weight: 700;
    font-size: 3rem;
    color: #131313;
}

.features {
    font-weight: 700;
    font-size: 3rem;
    color: #FF900E;
}
.team-description {
    font-weight: normal;
    font-size: 1rem;
    color: #727272;
    margin-bottom: 32px;
}

/* Main Section-2 Styles */

.feature-heading {
    font-size: 3rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 0;
}
.heading-description {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.875rem;
    padding-right: 4rem;
}
.feature-title {
    font-size: 1.25rem;
    font-weight: 600;
}
.feature-description {
    font-size: 1rem;
    font-weight: 400;
}
.main-2 {
    max-width: 1440px;
    margin: 85px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.feature-type {
    /* width: 36.625rem;
    height: 9.5rem; */
    background-color: rgba(245, 244, 244, 0.429);
    border: 1px solid none;
    border-radius: 8px;
    margin-bottom:  1.25rem;
    padding: 1.2rem;
}
/* .column-1 {
    padding: 35px 50px 35px;
    padding-left: 0;
} */
.column-2 {
    width: 100%;
    margin: 0 auto;
}
.feautre-img {
    /* width: 100%;
    padding-top: 90px;
    padding-left: 90px;
    padding-right: 90px; */
    position: relative;
    display: inline-block;
}

.feautre-img img {
    /* display: block; */
    border-radius: 10px;
}
.not-btn {
    font-size: 3rem;
    font-weight: 700;
    width: 21rem;
    height: 9rem;
    border-radius: 8px;
    color: #ffffff;
    background-color: #FF900E;
    text-align: center;
    padding-top: 4%;
    position: absolute;
    bottom: -130px;
    left: 20px;
}
.eperience {
    font-size: 1.5rem;
    font-weight: 500;
}



/* Main Section-3 Styles */

.main-3 {
    margin-top: 200px;
    max-width: 1440px;
    margin: 0 auto;
}
.fact {
    font-size: 3rem;
    font-weight: 700;
    padding-left: 1rem;
}
.fact-description {
    font-weight: 400;
    font-size: 1rem;
    padding-left: 1rem;
}
.achievement {
    display: flex;
    justify-content: space-around;
}
.achieve-items {
    height: 13rem;
    width: 14.125rem;
    border: 2px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding-top: 50px;
    margin-top: 150px;
    margin-bottom: 100px;
}
.achieve-head {
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 0px;
    margin-top: 0;
}
.achieve-descrip {
    font-weight: 400;
    font-size: 1rem;
}
.sponsors {
    text-align: center;
}
.spn-title {
    font-weight: 700;
    font-size: 3rem;
}
.spn-description {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2rem;
    padding: 0 440px;
}
.icon {
    display: flex;
    justify-content: space-evenly;
    margin-top: 9rem;
    margin-bottom: 6rem;
}


/* Footer Style */

footer {
    background-color: rgba(255, 144, 14, 0.1);
    margin-bottom: 6rem;
    max-width: 1440px;
    margin: 0 auto;
}

.f-content {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    padding: 1.25rem 0;
}




/* Shared styles */
.display-flex {
    display: flex;
}
.bg-color-1 {
    background-color: rgba(252, 141, 14, 0.1);
}
.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}
.btn-explore{
    color: #ffffff;
    background-color: #FF900E;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
}
.dark-1 {
    color: #131313;
}
.dark-2 {
    color: #424242;
}
.dark-3 {
    color: #727272;
}

.display-block {
    display: block;
    font-size: 2.8rem;
    font-weight: 700;
}


/* .hide {
    display: none;
} */




/* Responsive Media Query */
@media screen and (max-width: 576px) {
    .navbar, .nav-links {
        flex-direction: column;
    }
    .navbar{
        flex-direction: column-reverse;
    }
    .nav-links {
        flex-direction: row;
    }
    .main-1 {
        flex-direction: column;
    }
    .team-image-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .team-content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        
    }
    .team-title, .team-description {
        padding-right: 20px;
        text-align: center;
    }
    .main-2 {
        grid-template-columns: repeat(1, 1fr);
        /* padding-left: 1.5rem; */
        align-items: center;
    }
    .column-1 {
        max-width: 576px;
        margin: 0 auto;
    }
    .feature-type {
        padding: 0 0;
    }
    .column-2 {
        max-width: 576px;
        margin: 0 auto;
        align-items: center;
    }
    .feautre-img > .main-img {
        width: 100%;
    }
    .not-btn {
        left: 120px;
    }
    .fact-description{
        margin-bottom: 4rem;
        padding: 0 1rem;
    }
    .fact {
        padding-left: 1rem;
    }
    .achievement {
        flex-direction: column;
        align-items: center;
    }
    .achieve-items{
        margin-top: 0;
    }
    .spn-description {
        padding: 0 10px;
    }
    .icon {
        flex-direction: column;
        align-items: center;
    }
    .icon > a {
        margin-bottom: 4rem;
    }
    .f-content {
        padding: 2rem 3rem;
    }
}